@import "../../variables";

.sidebar {
  margin: 10px;
  height: 100%;
  &__menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px $shadow-color;
    &--item {
      text-align: center;
      width: 70px;
      height: 60px;
      padding: 10px;
      margin: auto;
      cursor: pointer;
      color: $font-color;
    }
    &--item:hover {
      color: deepskyblue;
    }
    &--icon {
      font-size: 30px;
    }
    &--label {
      font-size: 10px;
      border-bottom: 1px solid lightgray;
      margin: 5px;
    }
  }
}